{% extends 'base.html' %}

{% block content %}
<!-- Google material icons   -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet" />

<div class="container my-5">


    <h2 class="text-capitalize">Hello, Your role is - {{user.user_type}}</h2>

    <p class="mt-3"> Useful links</p>
    <a class="" href="/profile">Edit Profile</a><br>
    <a class="" href="/logout">Log Out</a><br>



    </section>
</div>

{% endblock content %}